asgiref==3.11.1
black==26.3.1
click==8.3.3
Django==5.2.14
django-browser-reload==1.21.0
django-cors-headers==4.9.0
django-debug-toolbar==6.3.0
django-filter==25.2
django-model-utils==5.0.0
django-tailwind==4.4.2
djangorestframework==3.17.1
icalendar==7.1.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
python-dateutil==2.9.0.post0
pytailwindcss==0.3.0
python-decouple==3.8
pytokens==0.4.1
pytz==2026.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
typing-extensions==4.15.0
whitenoise==6.12.0
